
/* Navbar */
.navbar .nav-link {
    font-size: 14px;
    padding-left: 1rem!important; 
    padding-right: 1rem!important;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
}

/* Showcase slider */
.carousel-item {
    height: 450px;
}
#myCarousel img {
    background-size: cover;
}

/* Home header */
#home-header {
    background: url(../img/lights.jpg) no-repeat fixed;
    min-height: 200px;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Video play */
#video-play {
    position: relative;
    min-height: 200px;
    background: url(../img/media.jpg) no-repeat fixed;
    background-position: 0 -300px;
}

#video-play a {
    text-decoration: none;
}

/* Footer */
#main-footer {
    background: #000;
    color: #fff;
}
/* ----About---- */
/* Page-header */
#page-header {
    background: url(../img/image1.jpg) no-repeat fixed;
    height:200px;
    padding-top: 50px;
    background-position: 0 -360px;
    border-bottom: #eee 1px solid;
}
/* About section */
.about-img {
    margin-top: -50px;
}

/* ----Services---- */
/* FAQ section */
#faq .card {
    border: #444444;

}

#faq a {
    text-decoration: none;
    color: #fff;
}

#faq .card-body,
#faq .card-header {
    background-color: #333;
}

