* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */

body {
    background: #333;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    
}
a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

/* Utility classes */

.container {
    padding: 1rem 3rem;
}

h1, h2, h3 {
    margin-bottom: .5rem;
}

.p-1 { padding: 3.0rem; }
.p-2 { padding: 2.5rem; }
.p-3 { padding: 2.0rem; }
.p-4 { padding: 1.5rem; }

/* navbar */

#navbar .container{
    display: flex;
    justify-content: space-between;
    background: #343a40;
    border-bottom: #008ed6 solid 3px;
    opacity: 0.8;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar .container .logo a {
    color: #fff;
}

#navbar ul li a {
    color: gray;
    padding: 0.6rem;
}

#navbar ul li a:hover {
    color: #fff;
}

/* Home Section */

#home-section {
    background: url(../img/home.jpg) no-repeat ;
    min-height: 700px;
    background-size: cover;
    width: 100%;
}

#home-section .home-overlay {
    background: rgba(0, 0, 0, 0.5);
    min-height: 700px;
    
}

#home-section .home-inner-section {
    margin: 0 20px;
    padding-top: 150px;
}

.row,
.home-section-flex,
.card-form {
    display: flex;
}

.flex-left {
    align-self: flex-start;
}

.flex-right {
    align-self: flex-end;
}

#home-section .fas {
    background: #fff;
    color: #008ed6;
    padding: 5px;
    border-radius: 5px;
}

#home-section .card-form {
    background: #007bff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
}

#home-section .card-body {
    padding: 1.25rem;
}

.form-group-control {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;

}