body {
    background: #333;
    color: #fff;
}

/* Navbar */
.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

/* Home-section */
#home-section {
    background: url(../img/home.jpg) no-repeat center/cover fixed;
    min-height:700px;
}

#home-section .overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-height:700px;
    background: rgba(0, 0, 0, 0.7);
}

#home-section .container {
    padding-top: 150px;
}

#home-section .fas {
    background: #fff;
    color: #008ed6;
    padding: 5px;
    border-radius: 5px;
}

#home-section .card {
    opacity: 0.8;
}