/* Utilites */
.btn-color {
    background:#3292a6;
}

/* Navbar */
.navbar {
    font-size: 1.4rem;
}

.navbar .container {
    padding: 16px 0;
}

.navbar .logo {
    height: 50px;
    margin-right: 3px;
    vertical-align: middle;
}

.navbar h3 {
    display: inline;
    vertical-align: middle;
}
.navbar .nav-item {
    padding-right: 1.2rem;
}

/* Showcase */
#slogan {
    background: url(../img/mountains.jpg);
    min-height: 600px;
    position: relative;
}

#slogan .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

/* Boxes */

#boxes .card-border {
    border-color: #3292a6;
}

.card-bg {
    background: #3292a6;
}

.title-main {
    color: #3292a6;
}
.card .card-text {
    margin-bottom: 1rem;
}

/* About */

.info-header {
    width:50%;
    margin: 0 auto;
    border-bottom: 1px #ddd solid;
}

/* Accordion */

#accordion .fas {
    color: #333;
}

/* Authors */
#authors img {
    margin-top: -50px;
}

#authors .card:hover {
    background: #3292a6;
    color: #fff;
}

#authors .fab {
    color: #fff;
}
