header h1 {
  min-width: 260px;
}

header .select-area .select {
  width: 68%;
  min-width: 100px;
}

#border-bottom {
  width: 80%;
}
.weather-items {
  justify-content: center;
}

.weather-item {
  width: 60%;
  min-width: 280px;
}
