* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  width: 80%;
  margin: 0 auto;
  background: url(../img/lake.jpg) no-repeat center center/cover;
  height: 100%;
}

p {
  margin: 0.8rem 0;
}

/* Header */
header {
  text-align: center;
  margin: 20px 0;
}
header .select-area .select {
  width: 400px;
  height: 25px;
  font-size: 16px;
}

#border-bottom {
    width: 90%;
    margin: 0 auto;
    border-bottom: #444 dotted 1px;
}


/* Weather info */
#weather-content {
  width: 100%;
  margin: 0 auto;
}
.weather-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 20px 10px; */
  margin: 0 auto;
  max-width:1000px;
}
.weather-item {
  
  border: 1px #333 solid;
  border-radius: 10px;
  width: 30%;
  margin: 10px 10px;
  height:100%;
}

/* Weather title */
.weather-item .wea-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(228, 219, 219);
  opacity: 0.8;
  /* background: rgba(75, 125, 206, 0.445); */
  border-radius: 10px 10px 0 0;
  border-bottom: #444 dashed 1px;
  padding: 10px;
}

.weather-item span.time {
  display: block;
  padding: 0.3rem 0;
}

/* Weather-content */
.weather-item .wea-content {
  padding: 10px 20px;
  background: rgba(110, 157, 184, 0.726);
  border-radius: 0 0 10px 10px;
  
}

.wea-content:hover {
cursor: pointer;
background: rgba(255, 255, 0, 0.404);
opacity: 1;
border-radius: 0 0 10px 10px;
}
